* {
  box-sizing: border-box;
}

/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v29-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v29-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v29-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v29-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v29-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v29-latin_cyrillic-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v29-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v29-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v29-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v29-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v29-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v29-latin_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v29-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v29-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v29-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v29-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v29-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v29-latin_cyrillic-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
html {
  font-family: Open Sans, sans-serif
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: white;
  background-color: #3172b9;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

.text-center {
  text-align: center;
}

/* Header */

.header {
  height: 110px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-list {
  display: flex;
  margin: auto;
}

.nav-item {
  font-size: 15px;
  line-height: 1;
}

.nav-link {
  color: #1c1c1c;
}

.nav-link:hover {
  color: #3172b9;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-btn {
  margin-left: 40px;
}

/* Hero */

.section-hero{
  
}

.container-hero {
  padding-top: 120px;
  padding-bottom: 130px;
}

.content-hero {
  max-width: 50%;
}

.section-hero-heading {
  margin-bottom: 20px;
}

.section-hero-description {
  margin-bottom: 30px;
}

.btn-description {
  margin-top: 10px;
}

/* Do section */

.section-do {
  padding-top: 140px;
  padding-bottom: 100px;
}

.section-description {
  margin-top: 25px;
}

.section-do-list {
  margin-top: 50px;
  display: flex;
}

.section-do-item {
  flex: 1 1 25%;
}

.section-do-item:not(:last-child) {
  margin-right: 30px;
}

/* Clients */

.section-heading {
  padding-top: 90px;
  padding-bottom: 100px;
}

.clients-list {
  display: flex;
}

.clients-list-item {
  flex: 1 1 33.33%;
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 60px;
  height: 60px;
  border: 2px solid #3172b9;
  border-radius: 50%;
  margin-right: 15px;
}

/* Contacts */

.contacts {
  margin-top: 85px;
  margin-bottom: 95px;
}

.contact-list {
  display: flex;
  margin-top: 43px;
}

.contact-list-item {
  flex: 1 1 33.33%;
}

.contact-list-item:not(:last-child) {
  margin-right: 30px;
}

.section-contacts-info {
  max-width: 250px;
}

.icon-contacts {
  display: block;
  margin-bottom: 25px;
  height: 30px;
}

.contacts-heading {
  display: block;
  margin-bottom: 40px;
}

/* footer */

.footer {
  height: 125px;
}

.footer-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.footer-right {
  margin-left: auto;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer-nav-list {
  display: flex;
}

.footer-nav-item:not(:last-child) {
  margin-right: 35px;
}
