* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
html {
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  padding: 15px 16px;
  font-size: 12px;
  line-height: 1;
  color: white;
  background-color: #3172b9;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

.text-center {
  text-align: center;
}

/* Header */

.header {
  height: 110px;
}

.header-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  margin-right: auto;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-btn {
  margin-left: 80px;
}

/* Hero */

.container-hero {
  padding-top: 120px;
  padding-bottom: 130px;
}

.content-hero {
  max-width: 50%;
}

.section-hero-heading {
  margin-bottom: 20px;
}

.section-hero-description {
  margin-bottom: 30px;
}

.btn-description {
  margin-top: 10px;
}

/* Do section */

.section-do {
  padding-top: 140px;
  padding-bottom: 100px;
}

.section-description {
  margin-top: 25px;
}

.section-do-list {
  margin-top: 50px;
  display: flex;
}

.section-do-item {
  flex: 1 1 25%;
}

.section-do-item:not(:last-child) {
  margin-right: 30px;
}

/* Clients */

.section-heading {
  padding-top: 90px;
  padding-bottom: 100px;
}

.clients-list {
  display: flex;
}

.clients-list-item {
  flex: 1 1 33.33%;
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 60px;
  height: 60px;
  border: 2px solid #3172b9;
  border-radius: 50%;
  margin-right: 15px;
}

/* Contacts */

.contacts {
  margin-top: 85px;
  margin-bottom: 95px;
}

.contact-list {
  display: flex;
  margin-top: 43px;
}

.contact-list-item {
  flex: 1 1 33.33%;
}

.contact-list-item:not(:last-child) {
  margin-right: 30px;
}

.section-contacts-info {
  max-width: 250px;
}

.icon-contacts {
  display: block;
  margin-bottom: 25px;
  height: 30px;
}

.contacts-heading {
  display: block;
  margin-bottom: 40px;
}

/* footer */

.footer {
  height: 125px;
}

.footer-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.footer-right {
  margin-left: auto;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer-nav-list {
  display: flex;
}

.footer-nav-item:not(:last-child) {
  margin-right: 35px;
}
